::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: purple !important;
}
  
::ng-deep .mat-form-field-underline .mat-form-field-ripple {
    /*change color of underline*/
    background-color: purple;
}

::ng-deep .mat-form-field .mat-form-field-flex{
    background-color: lightgray; 
}